<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Booking</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body bgcolor="#ffda95">

	<table cellpadding="0" cellspacing="2" width="800"
		style="font-family: Verdana, Geneva, sans-serif; font-size: 12px; background-color: #ffda95;">
		<tr>
			<td colspan="2"><h2>Booking</h2></td>
		</tr>
		<tr>
			<td
				style="background-color: #fe9901; height: 20px; border: 1px solid #666; padding: 0 5px 0 10px;">No
				booking available</td>
		</tr>
	</table>
</body>

</html>

